header{
    background-image: url("background.jpg");
    background-size: cover;
    color: white;
}
.omnie, p, header{
    text-align: center;
}
form, input{
    margin: 10px;
}
input{
    padding:10px;
}
